.tagline {
    margin: 40px 0 20px;
    z-index: 10;
}

div.tagline h1,
div.tagline h2 {
    color: #ffffff;
    text-shadow: 0 0 10px #000;
}

em {
    color: #ff6600
}


div.social-twitter a,
div.social-youtube a  {
    color: #333;
    font-family: 'Dosis', sans-serif;
}


div.social-twitter a:hover,
div.social-youtube a:hover {
    color: #ff6600;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.social-title {
    text-align: left;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .social-title {
        text-align: center;
    }
}




.home {
    min-height: 20px;
    padding: 19px;
    background-color: #e9e9e9;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

div.header {
    height: 400px;
    background: url('../img/main3.png') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-bottom: 0;
}

div.carousel-caption .jumbotron {
    background: transparent;
    text-align: left;
}

.carousel-caption {
    z-index: 10;
}
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.program-item {
    margin-bottom: 15px;
}

i.program-icon {
    border: 2px solid #ff6600;
    border-radius: 50%;
    display: inline-block;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    color:  #ff6600;
}






